# ml-working.ipynb

Our objective is to predict a new venue's popularity from information available when the venue opens.

1. Have a json (matrix) of business attributes. 
2. Need a function that considers each business' success
3. Use the funtion to map success predictions (labels) to the businesses

In [12]:
%matplotlib inline
import matplotlib
import seaborn as sns
matplotlib.rcParams['savefig.dpi'] = 2 * matplotlib.rcParams['savefig.dpi']
import simplejson as json
import sklearn
from Estimator import Estimator
import pandas as pd

In [2]:


path = './data/yelp_train_academic_dataset_business.json'

lst_yelp = []
with open(path) as f:
    for line in f:
        lst_yelp.append(json.loads(line))

len(lst_yelp)

37938

In [3]:
print len(lst_yelp)
#print lst_yelp[0]

37938

In [29]:
# test estimator
from Estimator import Estimator

cls = Estimator()

X_train = X_test = X = ['lv', 'nyc', 'la', 'la', 'la', 'nyc', 'lv', 'la','lv', 'nyc', 'la', 'nyc', 'la',]
y_train = y_test = y = [1,2,3,4,5,6,7,8,9,10,11,12,13]

record = {'city':Phoenix, 'stars':3.5}

print len(X), len(y)

cls.fit(X_train, y_train)  # fit data

y_pred = cls.predict(X_test)  # predict answer

#print X_test.shape, y_test.shape
#cls.score((X_test, y_test)  # this part is bullshit
print y_pred

13 13
[1    5.666667
Name: avgstars, dtype: float64, 2    7.5
Name: avgstars, dtype: float64, 0    7.333333
Name: avgstars, dtype: float64, 0    7.333333
Name: avgstars, dtype: float64, 0    7.333333
Name: avgstars, dtype: float64, 2    7.5
Name: avgstars, dtype: float64, 1    5.666667
Name: avgstars, dtype: float64, 0    7.333333
Name: avgstars, dtype: float64, 1    5.666667
Name: avgstars, dtype: float64, 2    7.5
Name: avgstars, dtype: float64, 0    7.333333
Name: avgstars, dtype: float64, 2    7.5
Name: avgstars, dtype: float64, 0    7.333333
Name: avgstars, dtype: float64]

In [27]:
import pandas as pd
record = [{'city':'Phoenix', 'stars':3.5}, {'city':'Mesa', 'stars':4}]  
#record = {'city':'Phoenix', 'stars':3.5}  


df_record = pd.DataFrame(record)
df.head()

print list(df_record.city), list(df_record.city)

['Phoenix', 'Mesa'] ['Phoenix', 'Mesa']

In [28]:
k = import

SyntaxError: invalid syntax (<ipython-input-28-1f94d3db5546>, line 1)

In [89]:
# initialize output df
from numpy import NaN
import pandas as pd

X = pd.Series(X) 

y = pd.Series(y) 

df_yelp = pd.DataFrame()

df_yelp['cities'] = X
df_yelp['stars'] = y

dfg_yelp = df_yelp.groupby('cities')

lst_cities = []
lst_avgstars = []

for city, df_stars_by_city in dfg_yelp:
    mn = df_stars_by_city.stars.mean()
    lst_cities.append(city)
    lst_avgstars.append(mn)
    
print lst_cities
print lst_avgstars

df_avg_bycity = pd.DataFrame()
df_avg_bycity['cities'] = lst_cities
df_avg_bycity['avgstars'] = lst_avgstars

df_avg_bycity

['la', 'lv', 'nyc']
[7.333333333333333, 5.666666666666667, 7.5]

  cities  avgstars
0     la  7.333333
1     lv  5.666667
2    nyc  7.500000

In [90]:
# initialize output df
from numpy import NaN
import pandas as pd

X = pd.Series(X) 

y = pd.Series(y) 

df_yelp = pd.DataFrame()

df_yelp['cities'] = X
df_yelp['stars'] = y

dfg_yelp = df_yelp.groupby('cities')

lst_cities = []
lst_avgstars = []

for city, df_stars_by_city in dfg_yelp:
    mn = df_stars_by_city.stars.mean()
    lst_cities.append(city)
    lst_avgstars.append(mn)
    
df_avg_bycity = pd.DataFrame()
df_avg_bycity['cities'] = lst_cities
df_avg_bycity['avgstars'] = lst_avgstars

df_avg_bycity

  cities  avgstars
0     la  7.333333
1     lv  5.666667
2    nyc  7.500000

In [1]:
from Estimator import Estimator
new = Estimator()

new.__dict__

{}

In [15]:
import pandas 
tmp = pandas.DataFrame()

#[method for method in dir(tmp) if callable(getattr(tmp, method))]
#[member for member in dir(tmp) if ~callable(getattr(tmp, member))]